<h5 class="table-title">Transaction List</h5>
<mat-form-field appearance="outline" class="filter-field">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. BTC" #input>
</mat-form-field>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class=" mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{ element.time }} </td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{ element.from }} </td>
    </ng-container>

    <ng-container matColumnDef="amountFrom">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{ element.amountFrom }} </td>
    </ng-container>

    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{ element.to }} </td>
    </ng-container>

    <ng-container matColumnDef="amountTo">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{ element.amountTo }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="" *matNoDataRow>
      <td class="no-data-row" colspan="6">No Data Matching The Search </td>
    </tr>
  </table>
  <mat-paginator pageSize="5" aria-label="Select page of transaction"></mat-paginator>
</div>

