<mat-card class="investment-summary">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">Status</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!loading && !errorFetch" class="card-content">
    <div class="summary-item">
      <span>Invested:</span>
      <span class="value">{{ dataStatus?.invested }} €</span>
    </div>
    <div class="summary-item">
      <span>Worth:</span>
      <span class="value">{{ dataStatus?.actualWorth }} €</span>
    </div>
    <div class="summary-item">
      <span>Result:</span>
      <span class="value" [class.positive]="revenue" [class.negative]="!revenue">
        {{ revenue ? '+' : ''}} {{ dataResult |  customCurrency  }} €</span>
    </div>
    <div class="button-container">
      <button
      type="submit"
      mat-fab
      color="accent"
      aria-label="Example icon button with a home icon"
      #tooltip="matTooltip"
      matTooltip="Refresh Transactions"
      matTooltipPosition="below"
      (click)="handleReload();"
       >
        <mat-icon>refresh</mat-icon>
      </button>
      <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a home icon"
      #tooltip="matTooltip"
      matTooltip="Register New Transaction"
      matTooltipPosition="below"
      (click)="handleActiveForm()"
       >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="loading" class="card-content-spinner">
    <mat-progress-spinner
    color="accent"
    mode="indeterminate"
    [diameter]="50"
    />
  </mat-card-content>
  <mat-card-content *ngIf="errorFetch" class="error-container">
    <span>An Error Ocurred</span>
  </mat-card-content>
</mat-card>
