.card-header{
  padding: 0;
  width: 100%;
}

.card-title{
  font-size: medium;
}


.card-content{
  padding: 0;
  width: 100%;
}

.investment-summary {
  padding: 16px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%; /* Ajusta según necesites */
}

.summary-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.value {
  font-weight: bold;
}

.positive {
  color: green; /* Resultado positivo */
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 16px;

  button{
    border-radius: 10px;
    box-shadow: none;
    width: 30%;
    height: 40px;
  }
}
