<header-component id="header-section"/>
<mat-grid-list [cols]="cols" rowHeight="100px" class="grid-container">
  <mat-grid-tile [colspan]="cols > 2 ? 3 : cols" [rowspan]="5">
    <movements-list-table class="movements-list"/>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="cols > 3 ? 1 : cols" [rowspan]="4" >
    <investment-status-view class="status-view"/>
  </mat-grid-tile>

  <mat-grid-tile id="form-section" *ngIf="activeForm()" [colspan]="cols > 2 ? 3 : cols" [rowspan]="cols < 2 ? 7 : 5">
    <currency-transaction-form class="transaction-form"/>
  </mat-grid-tile>
</mat-grid-list>
<footer-component/>
