.grid-container{
  margin: 20px;
}

.movements-list{
  width: 100%;
  height: 100%;
  // overflow: auto;
  // box-sizing: border-box;
}

.status-view{
  width: 90%;
}

.transaction-form{
  width: 70%;
}
